<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>DeliCake</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>

<body>
  <div class="falling-products">
    <span>🧁</span>
    <span>🍪</span>
    <span>🎂</span>
    <span>🍩</span>
    <span>🍰</span>
    <span>🧁</span>
    <span>🍪</span>
    <span>🎂</span>
  </div>
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  <div class="mt-4">
    {% for category, message in messages %}
    <div
      class="alert alert-{{ 'success' if category == 'success' else 'danger' }} alert-dismissible fade show shadow-sm rounded-3 d-flex align-items-center gap-2"
      role="alert">
      {% if category == 'success' %}
      <i class="bi bi-check-circle-fill text-success fs-5"></i>
      {% else %}
      <i class="bi bi-exclamation-triangle-fill text-danger fs-5"></i>
      {% endif %}
      <div class="flex-grow-1">
        {{ message }}
      </div>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Cerrar"></button>
    </div>
    {% endfor %}
  </div>
  {% endif %}
  {% endwith %}
  <nav class="navbar navbar-expand-lg sticky-top">
    <div class="container">
      <a class="navbar-brand text-warning fw-bold" style="margin-right: 100px;">
        <img src="{{ url_for('static', filename='img/logo_DeliCake.jpg') }}" alt="Logo"
          style="width: 75px; height: 75px; border-radius: 50%; margin-left: 20px;">
        <br>DeliCake🎀</br>
      </a>
      <button class="navbar-toggler border border-white" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link active c" aria-current="page" href="#" id="catalogoDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Catálogo
            </a>
            <ul class="dropdown-menu" aria-labelledby="catalogoDropdown">
              {% for categoria in categorias %}
              <li>
                <a class="dropdown-item"
                  href="{{ url_for('admin.productos_por_categoria', id_categoria=categoria.ID_Categoria) }}">
                  {{ categoria.Nombre_categoria }}
                </a>
              </li>
              {% endfor %}
            </ul>
          </li>
        </ul>


        <div class="d-flex align-items-center gap-2">
          <div class="nav-item dropdown">
            <a class="btn btn-pink dropdown-toggle fw-semibold" href="#" id="extraDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Iniciar Sesión
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="extraDropdown">
              <li><a class="dropdown-item" href="{{ url_for('login_admin') }}">Administrador</a></li>
              <li><a class="dropdown-item" href="{{ url_for('login') }}">Cliente</a></li>
            </ul>
          </div>

          <a href="{{ url_for('register') }}" class="btn btn-outline-light fw-semibold border-white">
            Registrarse
          </a>
        </div>
      </div>



      <br>

      <form action="{{ url_for('admin.buscar') }}" method="get" class="d-flex" style="margin-left: 20px;">
        <input class="form-control me-2" style="height: 45px;" type="search" name="q" placeholder="Buscar productos..."
          value="{{ request.args.get('q','') }}">
        <button class="btn btn-outline-warning" type="submit"><i class="bi bi-search"></i></button>
      </form>

      </form>

      </a>
    </div>
    </div>
  </nav>

<section class="carrusel">
    {% if banner_actual %}
        <video autoplay muted loop playsinline width="700">
            <source src="{{ url_for('static', filename=banner_actual) }}" type="video/mp4">
            Tu navegador no soporta el video.
        </video>
    {% else %}
        <p>No hay banner disponible</p>
    {% endif %}
</section>

 <section class="productos">
    <h2> PRODUCTOS MAS DESTACADOS</h2>
    <p class="productos-subtitle">postres únicos con el estilo <span>Dlicado</span> 💕</p>

    <div class="productos-container">
<div class="producto-card">
  <div class="producto-img">
    <img src="{{ url_for('static', filename='img/cerezita.jpg') }}" alt="Producto 1">
  </div>
  <div class="producto-info">
    <h3>PASTEL CEREZITA</h3>
    <p>Cerezita es un pastel creado por nosotros con el mejor relleno de frutos rojos 🍒</p>

    {% if current_user.is_authenticated %}
      <button class="btn-carrito">🛒 ¡AGREGALO!</button>
    {% else %}
      <a href="{{ url_for('register') }}" class="btn-carrito link-carrito">🛒 ¡AGREGALO!</a>
    {% endif %}
  </div>


</div>

     <div class="producto-card">
  <div class="producto-img">
    <img src="{{ url_for('static', filename='img/tiramisu') }}" alt="Producto 2">
  </div>
  <div class="producto-info">
    <h3>TIRAMISU DE FRESITA</h3>
    <p>Fue inspirado en lo jugosito de 🍓</p>

    {% if current_user.is_authenticated %}
      <button class="btn-carrito">🛒 ¡AGREGALO!</button>
    {% else %}
      <a href="{{ url_for('register') }}" class="btn-carrito">🛒 ¡AGREGALO!</a>
    {% endif %}
  </div>
</div>


      <div class="producto-card">
        <div class="producto-img">
          <img src="{{ url_for('static', filename='img/tortahellokitty.jpg') }}" alt="Producto 3">
        </div>
        <div class="producto-info">
          <h3>TORTI KITTY 🐱</h3>
          <p>Creado para los amantes de la gata blanca</p>
          {% if current_user.is_authenticated %}
            <button class="btn-carrito">🛒 ¡AGREGALO!</button>
          {% else %}
            <a href="{{ url_for('register') }}" class="btn-carrito">🛒 ¡AGREGALO!</a>
          {% endif %}
        </div>
      </div>
    </div>
</section>

 <section class="suscripcion">
    <div class="container">
      <h2 class="mb-4">💌 SUSCRIBETE A NUESTRO BOLETIN</h2>
      <p class="mb-4">Recibe novedades, promociones y lanzamientos de productos directamente en tu correo.</p>
      <form action="{{ url_for('suscribir') }}" method="POST">
        <input type="email" name="correo" placeholder="Ingresa tu correo electrónico" required>
        <button type="submit">Inscribirme 🎀 </button>
      </form>
  </section>
  <section class="calificacion">
    <div class="container">
      <h2 class="mb-4">Califica y reseña nuestro servicio</h2>

      <form action="{{ url_for('reseñar') }}" method="POST" class="w-50 mx-auto">
        <input type="hidden" name="correo" value="{{ session.get('correo') }}">

        <div class="mb-3">
          <label class="form-label">Tu calificación:</label>
          <div class="star-rating">
            {% for i in range(5,0,-1) %}
            <input type="radio" id="estrella{{i}}" name="estrellas" value="{{i}}" required>
            <label for="estrella{{i}}">⭐</label>
            {% endfor %}
          </div>
        </div>


        <div class="mb-3">
          <textarea name="comentario" class="form-control" placeholder="Escribe tu opinión..." required></textarea>
        </div>

        <button type="submit" class="btn btn-pink fw-bold">Enviar reseña</button>
      </form>


      <div class="mt-5">
        <h3>Opiniones de clientes</h3>
        {% for r in reseñas %}
        <div class="card my-3 p-3">
          <p><strong>{{ r.correo }}</strong> - {{ r.estrellas }} ⭐</p>
          <p>{{ r.comentario }}</p>
          <small>{{ r.fecha.strftime("%d/%m/%Y") }}</small>
        </div>
        {% else %}
        <p>No hay reseñas todavía.</p>
        {% endfor %}
      </div>
    </div>
  </section>



  <section class="nosotros">
    <h2>👩‍🍳 Nuestro Equipo</h2>
    <div class="nosotros-contenido">
      <img src="{{ url_for('static', filename='img/Nosotros.png') }}" alt="Equipo DeliCake">
      <p>Somos un equipo apasionado por la repostería 💕, dedicados a crear postres únicos con un estilo delicado,
        elegante y lleno de amor. 🎀</p>
    </div>
  </section>
  <footer class="footer">
    <div class="footer-contenido">
      <div class="footer-item">
        <h4>⏰ Horarios de atención</h4>
        <p>Lunes a Viernes: 7am - 8pm</p>
        <p>Sábados, Domingos y Festivos: 9am - 5:30pm</p>
      </div>
      <div class="footer-item">
        <h4>👩‍💻 Contáctanos</h4>
        <p>Comunícate con nosotros</p>
      </div>

      <div class="footer-item">
        <h4>❓ Preguntas</h4>
        <p>¿Tienes dudas?</p>
      </div>
      <div class="footer-item">
        <h4>📍 Ubicación</h4>
        <p>Carrera #56 #19c -</p>
      </div>
    </div>
  </footer>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>



</html>