<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Mi Cuenta Administrador</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/mi cuenta ADM.css">
</head>
<div class="falling-products">
  <span>🧁</span>
  <span>🍪</span>
  <span>🎂</span>
  <span>🍩</span>
  <span>🍰</span>
  <span>🧁</span>
  <span>🍪</span>
  <span>🎂</span>
</div>

<body>


  <div class="admin-box">
    <h5>Mi Cuenta<br><span style="font-size: 14px;">Administrador</span></h5>

    <div class="admin-data">
      <span>Nombre: xxxxx</span>
      <span>Correo: xxx@xx.com</span>
    </div>

    <div class="my-3">
      <img src="https://cdn-icons-png.flaticon.com/512/3064/3064197.png" alt="Candado" class="lock-icon">
      <div class="mb-2">Acceso Control</div>
      <input type="password" class="form-control mb-2" placeholder="Clave de acceso" />
      <button class="btn btn-dark w-100">Entrar</button>
    </div>
  </div>

</body>
</html>
