<!DOCTYPE html> 
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Recuperar contraseña</title>
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/recuperar_con.css') }}">
</head>

<div class="falling-products">
  <span>🧁</span>
  <span>🍪</span>
  <span>🎂</span>
  <span>🍩</span>
  <span>🍰</span>
  <span>🧁</span>
  <span>🍪</span>
  <span>🎂</span>
</div>

<body>
  <a href="javascript:history.back()" class="volver-btn">
  ← Volver
</a>
  <form method="POST" action="{{ url_for('recuperar') }}">
    <label for="correo">Correo electrónico:</label>
    <input type="email" name="correo" id="correo" required>
    <button type="submit">Enviar código</button>
  </form>

   <!-- Footer -->
     <footer class="footer">
    <div class="footer-contenido">
      <div class="footer-item">
        <h4>⏰ Horarios de atención</h4>
        <p>Lunes - Viernes: 8am</p>
        <p>Sábados y festivos: 9am - 4:30pm</p>
      </div>
      <div class="footer-item">
        <h4>👩‍💻 Contáctanos</h4>
        <p>Comunícate con nosotros</p>
      </div>

      <div class="footer-item">
        <h4>❓ Preguntas</h4>
        <p>¿Tienes dudas?</p>
      </div>
      <div class="footer-item">
        <h4>📍 Ubicación</h4>
        <p>Carrera #56 #19c -</p>
      </div>
    </div>
  </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
