{% extends "base.html" %}
{% block content %}
<div class="gracias-page">
  <div class="gracias-card">
    <img src="{{ url_for('static', filename='img/gracias.png') }}" alt="Gracias" class="pastel-img">

    <div class="texto">
      <h2>🎉 ¡Gracias por tu pedido, {{ current_user.username|capitalize }}!</h2>
      <p>Tu pedido se ha registrado correctamente 💕</p>
    </div>
  </div>
</div>

<script>
  setTimeout(() => {
    window.location.href = "{{ url_for('publica') }}";
  }, 5000);
</script>
{% endblock %}
